body{
	background:url(../images/cover-traveler.jpg);
	background-position: top;
	font-family: Open Sans,Tahoma,Arial;
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color:#fff;
}
a{
	color:#E74C3C;
}
select{
	width: 100%;
}
#errorModal{
	color:#E74C3C;
}
header{
	background:#fff;
	color:#666666;
}
header .logo{
	font-family: 'Pacifico', cursive;

	font-size:3em;
	line-height: 1;
	margin:0;
	padding:0;
}
header .logo a{
	text-decoration: none;
	color:#2C3E50;
}
header .logo:first-letter {
	color:#E74C3C;
}
.container{
	padding-top:20px;
	padding-bottom: 20px;
}
.form-inline .form-control{
	width: 100%;
}
.form-inline .btn-default{
	color:#fff;
	background:#E74C3C;
	text-shadow:none;
	border:0;
	border-color:#E74C3C;
}
footer{
	width: 100%;
	background-color: #2C3E50;
	padding-top:40px;
	padding-bottom:40px;
	margin-top:40px;
	color:#ffffff;
	font-size: 1.2em;
	text-align: center;
}
blockquote{
	border:0;
}
.mb-0{
	font-family: georgia;
	font-size: 32px;
	max-width: 80%;
	margin-left:auto;
	margin-right:auto;
	font-style: italic;
}
.social{
	font-size: 2.2em;
}
.social span{
	margin-left:15px;
}
#spinner{
	text-align: center;
	padding-top:40px;
	padding-bottom:40px;
}


/*SHOW HIDE RULES*/
#home .search-view{
	display: block;
}
#home .results-view{
	display:none;
}
#home .detailed-view{
	display:none;
}
/*SHOW HIDE RULES*/
#home .search-view{
	padding-top:60px;
	padding-bottom: 120px;
	text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}
#home .overlay{
	background-color: rgba(53, 66, 66, 0.6);
	padding-top:50px;
	width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    overflow:auto;
}
#home .search-view h2{
	margin-left:15px;
	margin-bottom:25px;
	margin-top:25px;
}

/*SHOW HIDE RULES*/
#resuts .search-view{
	display:none;
}
#results .results-view{
	display: block;
	color:#000000;
}
#results .detailed-view{
	display:none;
}
/*SHOW HIDE RULES*/
#results .search-view{
	color:#000000;
	background: #f1f1f1;
}
#results .search-view h2{
	display:none;
}
#results .results-view h2{
	border-top:1px solid #cccccc;
	padding-top:20px;
}
#results header h2{
	color:#000000;
}
#results .overlay{
	background-color: #fff;
}
#results #list-details{
	// min-height: 300px;
}



/*SHOW HIDE RULES*/
#full .search-view{
	display: block;
	background: #f1f1f1;
}

#full .results-view{
	display:none;
}
#full .detailed-view{
	display:block;
}
/*SHOW HIDE RULES*/

#full .overlay{
	background-color: rgba(255, 255, 255, 1);
}
#full .search-view h2{
	display: none;
}
#full{
	color:#000000;
}
#full .back-to-results:before{
	content:'\f053';
	font-family: FontAwesome;
	margin-right:10px;
}
#full .back-to-results{
	border-bottom:1px solid #ccc;
	font-size: 1.4em;
	padding-bottom: 5px;
	display: block;
	text-decoration: none;
}

#event-image{
	min-height: 250px;
	background-position: cover;
	margin-bottom: 15px;
}

#current-temp {
    font-size: 3em;
    font-weight: bold;
}
#current-conditions{
	font-style: italic;
    color: #666666;
}
.the-f{
	font-size: 14px;
	font-family: tahoma;
	vertical-align: super;
}
a.get-directions:after{
	content:'\f054';
	font-family: FontAwesome;
	margin-left:10px;
}
a.get-directions{
	display:block;
	color:#fff;
	background:#E74C3C;
	border-radius: 5px;
	text-decoration: none;
	padding:10px;
	text-align: center;
}
a.more-info:after{
	content:'\f054';
	font-family: FontAwesome;
	margin-left:10px;
}
a.more-info{
	display:inline-block;
	color:#fff;
	background:#E74C3C;
	border-radius: 5px;
	text-decoration: none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 30px;
	padding-right:30px;
	text-align: center;
	margin-top:10px;
}
.music #event-image{
	background:url(../images/music.jpg);
}

.sports #event-image{
	background:url(../images/sports.jpg);
}

.comedy #event-image{
	background:url(../images/comedy.jpg);
}

.festivals_parades #event-image{
	background:url(../images/festivals.jpg);
}

.food #event-image{
	background:url(../images/food.jpg);
}

.art #event-image{
	background:url(../images/art.jpg);
}

.holiday #event-image{
	background:url(../images/holiday.jpg);
}

.singles_social #event-image{
	background:url(../images/nightlife.jpg);
}

.outdoors_recreation #event-image{
	background:url(../images/outdoors.jpg);
}

@media (max-width: 989px) {
	#home .search-view{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}


